html {color:white; font-family: oswaldlight, sans-serif; background:black; position:fixed; top:0px;left:0px; width:100%; height:100%; overflow:hidden; outline: none;}
.calosc {position: fixed; top:0px;  width:800px; height:630px; border:0px solid red; margin:0px auto; overflow:visible;}
.logowanie {position:relative; width:500px; height:500px; top:40px; border: 4px 0px solid gold; border-radius:280px; border:4px solid gold; background-color:#0e0e0e; margin:0px auto; overflow:hidden;}
.mapa {width:700px; height:600px; margin:0px auto; top:0px; position:relative;}

.rama {width:700px; height:700px; margin:0px auto; top:-100px; position:relative; overflow:hidden; background: url(grafika/rama.png) 0px 0px;   background-size:700px;}
.ramazaw{width:630px; height:540px; position:absolute; left:35px; top:140px;pointer-events:auto;}
.ramamenu {width: 400px;height:90px; position:absolute; left:115px;   }
.ramareszta {width:630px; height:450px; top:90px; position:absolute; }

	/* OGOLNE: */
.button {cursor: pointer; display:inline-table; position:absolute; width:80px; height:80px; background: url(grafika/ramka.png) 0px 0px; background-size: 160px; background-color: none; border:0px;}
.buttongrafika {cursor: pointer;width:72px; position:absolute; left:4px; top:4px; z-index:9; pointer-events:none;}
.button:hover {background: url(grafika/ramka.png) -80px 0px; background-size:160px;}
.button:active .buttongrafika {position:absolute; left:1px; top:1px; width:78px;}

.buttonm {cursor:pointer; color:transparent; display:inline-table; position:absolute; width:60px; height:60px; border:0px;}
.buttonmgrafika {cursor: pointer;width:54px; position:absolute; left:3px; top:3px; z-index:9; pointer-events:none;}

.buttonm:active .buttonmgrafika {position:absolute; left:1px; top:1px; width:58px;}



button::-moz-focus-inner {border: 0;border:none;}
button:focus {outline:none;border: 0;border:none;}

input:focus {outline: none; border: 0px solid; border:none;}
input::-moz-focus-inner {border: 0;border:none;}


.czarnetlocale { width:100%; height:100%; position:fixed; left:0px; top:0px; z-index:10; background-color:rgba(0,0,0,0.6);}


	/* MENU lewe, prawe: */

.potcal {width:100px; height:100px; overflow:hidden; position:absolute;}

#potzycie {width:100px; height:100px; position:absolute; top: 0px; left:0px; background: url(grafika/pot.png) 0px 0px; background-size:200px; z-index:2;}
#wypzycie {width:100px; height:100px; background: url(grafika/pot.png) -100px 0px; background-size:200px; z-index:1;}
#potko {width:100px; height:100px; position:absolute; top: 0px; left:0px; background: url(grafika/pot.png) 0px -100px; background-size:200px; z-index:2;}
#wypko {width:100px; height:100px; background: url(grafika/pot.png) -100px -100px; background-size:200px; z-index:1;}


	/* CHECKBOX: */
#checkbox { z-index:10; position:absolute; width:16px; height:16px; top:-5px; left:22px; }
#bagazprzedmiot:hover label {display:block;}
#bagazprzedmiot:active #checkbox {position:absolute;top:-2.1px; left:24.4px;}

input[type="checkbox"] {display:none; width:16px; height:16px;}
label { cursor: pointer;pointer-events:auto;}
input[type="checkbox"] + label:before {display:block; background-color: black; border: 1px solid gold; border-radius: 10px;  content: "\00a0"; display: inline-block; font: 16px/1em sans-serif; height: 16px; margin: 0 .25em 0 0; padding:0; vertical-align: top; width: 16px; }
input[type="checkbox"]:checked + label:before {display:block; background-color: black; color: white; content: "\2713"; text-align: center;}
input[type="checkbox"]:checked + label:after {display:block;  font-weight: bold;}
input[type="checkbox"]:checked + label {display:block;}

#kolkousun {z-index:14;cursor: pointer; position:absolute; z-index:10; display:none;  width:16px; height:16px; border: 1px solid gold; border-radius:10px;  background-color:darkred;   }
#kolkousun:after {pointer-events:none;  cursor: pointer; content: "\292B"; color:white; font: 16px/1em sans-serif; position:absolute; left:2.2px; bottom:1px; vertical-align:top; text-align:center; padding:0; }
#bagazprzedmiot:hover #kolkousun {width:16px; height:16px;  pointer-events:auto; display:block; top:10px; right:-9px;   }
#bagazprzedmiot:active #kolkousun  {top:12.6px; right:-6px;}

#kolkozal{z-index:14;cursor: pointer; position:absolute; z-index:10; display:none;  width:16px; height:16px; border: 1px solid gold; border-radius:10px;  background-color:darkgreen;   }
#kolkozal:after {pointer-events:none; content: "\2940"; color:white; font: 16px/1em sans-serif; position:absolute; left:1.8px; bottom:1px; vertical-align:top; text-align:center; padding:0; }
#bagazprzedmiot:hover #kolkozal {  cursor: pointer; width:16px; height:16px;  pointer-events:auto; display:block; top:10px; left:-9px;   }
#bagazprzedmiot:active #kolkozal  {  cursor: pointer; top:12.6px; left:-6px;}

#kolkozdejm{z-index:14;cursor: pointer; position:absolute; z-index:10; display:none;  width:16px; height:16px; border: 1px solid gold; border-radius:10px;  background-color:darkred;   }
#kolkozdejm:after {pointer-events:none; content: "\27F3"; color:white; font: 16px/1em sans-serif; position:absolute; left:1.8px; bottom:1px; vertical-align:top; text-align:center; padding:0; }
#bagazprzedmiot:hover #kolkozdejm {  cursor: pointer; width:16px; height:16px;  pointer-events:auto; display:block; top:10px; left:-9px;   }
#bagazprzedmiot:active #kolkozdejm {  cursor: pointer; top:12.6px; left:-6px;}

#kolkozjedz{z-index:14;cursor: pointer; position:absolute; z-index:10; display:none;  width:16px; height:16px; border: 1px solid gold; border-radius:10px;  background-color:darkgreen;   }
#kolkozjedz:after {pointer-events:none; content: "\2668"; color:white; font: 16px/1em sans-serif; position:absolute; left:1.8px; bottom:1px; vertical-align:top; text-align:center; padding:0; }
#bagazprzedmiot:hover #kolkozjedz{  cursor: pointer; width:16px; height:16px;  pointer-events:auto; display:block; top:10px; left:-9px;   }
#bagazprzedmiot:active #kolkozjedz  {  cursor: pointer; top:12.6px; left:-6px;}

#kolkododaj {z-index:14;cursor: pointer; position:absolute; z-index:10; display:none;  width:16px; height:16px; border: 1px solid gold; border-radius:10px;  background-color:darkgreen;   }
#kolkododaj:after {width:16px; height:16px; cursor: pointer; pointer-events:none; content: "\002B"; color:white;  left:1.8px; bottom:4px; font: 20px sans-serif; position:absolute; padding:0px; }
#bagazprzedmiot:hover #kolkododaj{  cursor: pointer; width:16px; height:16px;  pointer-events:auto; display:block; top:10px; left:-9px   }
#bagazprzedmiot:active #kolkododaj  { pointer-events:auto;  width:16px; height:16px; cursor: pointer; top:12.6px; left:-6px; }


	/*  WALKA: */

.walkacalosc {width:600px; overflow:hidden; height:655px;background-color:rgba(0,0,0,0.8); position:absolute; top:10px; left:100px; border-radius:4px;border:0px solid red; z-index:100;}
.walkaprzewin {width:600px; height:650px; padding-right:10px; overflow:auto;position:absolute; left:0px; top:0px;}

.walkalewa {width:275px; position:absolute; height:140px; left:0px; top:3px; padding:11px; border-radius:3px; }
.walkaprawa {width:275px; position:absolute;height:140px; right:20px; top:3px; padding:11px;  border-radius:3px; }

.walkaikonka {pointer-events:none;width:60px; height:60px; position:absolute; left:0px; top:0px; background-size:60px; }
.walkaliczba {pointer-events:none;width:50px; height:10px; position:absolute;  bottom: 2px; left:3px; color:white; background-color:darkgreen;  font-weight: bold; font-size:10px; line-height:10px; border:2px solid black; border-radius:5px; text-align:center; }
.nazwagracza {position:absolute; width:240px; top: 4px; left:0px; text-transform: uppercase;}
.nazwawroga {position:absolute; width:240px; top: 4px;  right:0px;  text-transform: uppercase; }

.opisstat1 {color:black; z-index:6; width:120px; height:120px; position:relative; left:-66px;margin-left:50%; margin-bottom:-120px; top: 32px; display:none; background: url(grafika/tlo2.png) 0px 0px; background-size:120px; }
#opistresc {width:100px; position:absolute; top:40px; left:10px;  text-align: left; font-size:10px; font-weight:bold;}

#walkastaty {z-index:3; pointer-events:auto;border:0xp; background-none; margin:5px; width:60px; height:60px;   position:absolute; overflow:visible; float:left;}
#walkastaty:active .walkaikonka {transform:scale(1.15); -webkit-transform:scale(1.15); -moz-transform:scale(1.15); -o-transform:scale(1.15); }

.petlawalki {position:relative; top:275px; display:table; width:100%;}
.rundawiersz {positio:relative; width:100%; height:70px; }
.rundaikonka {width:60px; height:60px; position:relative; float:left; margin:5px; background-size:60px; }
.utratako {position:absolute; right:3px; top:0px; z-index:10;  width:18px; height:18px; border: 1px solid gold; border-radius:12px;  background-color:darkgreen;  color:white; line-height:16px; font-size:10px; font-weight:bold;text-align:center; }
.utratazy {position:absolute; right:3px; bottom:0px; z-index:10;  width:18px; height:18px; border: 1px solid gold; border-radius:12px;  background-color:darkred;  color:white; line-height:16px; font-size:10px; font-weight:bold;text-align:center; }

.efektwalki {position:relative; display:block;top:320px;}

.podswietl{opacity:0.3;pointer-events:auto; z-index:2; width:60px; height:60px; position:absolute; left:0px; top: 0px; background: url(grafika/podswietl.png) 0px 0px; background-size:60px; }
.rundaikonka:hover .podswietl {opacity:0.8;}


	/*  OKNO EFEKT js: */

.pokaoknoefekt {pointer-events:none;  z-index:100; display:none; overflow:hidden; width:154px; height:133px; position:absolute; top:226px; right:50%; margin-right:-77px;  text-align:center;}
.pokaoknohexefekt {width:154px; height:133px; background: url(grafika/czarne.png) 0px 0px; background-size:154px;  }
.pokaoknotrescefekt {pointe-events:none; width:110px; height:110px; position:absolute; top:35px; left:23px; color:silver; font-size:14px;}

#kolkowykrzyknik{position:absolute; left:67px; top:8px; z-index:14; position:absolute; z-index:10;   width:18px; height:18px; border: 1px solid gold; border-radius:12px;  background-color:darkred;   }
#kolkowykrzyknik:after {pointer-events:none; content: "\0021"; color:white; width:18px; height:18px; font: 18px/1em sans-serif; position:absolute; left:0px; bottom:1px; vertical-align:top; text-align:center; padding:0; }





	/* MAŁE OKNO js: */

.pokaokno { z-index:100; display:none; overflow:hidden; width:280px; height:243px; position:fixed; top:160px; right:50%; margin-right:-140px;  text-align:center;}
.pokaoknohex { pointer-events:auto; width:280px; height:243px; background: url(grafika/czarne.png) 0px 0px; background-size:280px;  }
.pokaoknonaglowek { text-transform: uppercase; color:gold; position:relative; margin:6px auto; font-size:12px; width:100px; font-weight:bold;}
.pokaoknotresc {width:100%; height:100%; position:absolute; top:0px; left:0px;}

.pokaoknom { z-index:100; display:none; overflow:hidden; width:140px; height:121px; position:fixed; top:234px; right:50%; margin-right:-70px;  text-align:center;}
.pokaoknohexm { pointer-events:auto; width:140px; height:121px; background: url(grafika/czarne.png) 0px 0px; background-size:140px;  }
.pokaoknonaglowekm { text-transform: uppercase; color:gold; position:relative; margin:12px auto; font-size:12px; width:120px; font-weight:bold;}
.pokaoknotrescm {width:100%; height:100%; position:absolute; top:0px; left:0px;}

.efekt {width: 200px; background-color:gold; color:black; text-align:center; font-size:12px; line-height:14px; font-weight:bold; border-radius:4px; min-height:14px;  margin:auto;}

#usunramka {width:20px;height:20px; position:absolute; top:2px; right:66px;z-index:101;}
#usunx {cursor:pointer; pointer-events:auto; border:0px; background:none;width:20px;height:20px; background: url(grafika/usun.png) 0px 0px; background-size:20px; }
#usunx:active {position:absolute;width:23px;height:23px; top:-1.5px; left:-1.5px; background: url(grafika/usun.png) 0px 0px; background-size:23px; }

.statyprogres {float:left; position:relative; height:96%; width:16px; border:0px; border-radius:4px; background-color:black; overflow:hidden; margin: 2% 4px; z-index:1;}
.statyprogreszaw {width:14px; position:absolute; bottom:1px; left:1px; border-radius:3px; z-index:2; max-height:99.2%;}

#buttonatak {z-index:10; position:absolute; bottom:10px; left:110px; width:60px; height:60px; background: url(grafika/ramka.png) 0px 0px; background-size: 120px; background-color: none; border:0px;}
#buttonatakgrafika {width:54px; height:54px; position:absolute; left:3px; top:3px; z-index:9; pointer-events:none; background: url(grafika/umiejetnosci.png) 0px 0px; background-size: 54px;}
#buttonatak:hover {background: url(grafika/ramka.png) -60px 0px; background-size:120px; }
#buttonatak:active #buttonatakgrafika {position:absolute; left:1px; top:1px; width:58px; height:58px; background: url(grafika/umiejetnosci.png) 0px 0px; background-size: 58px;}

#buttonpiecz {z-index:10; position:absolute; bottom:10px; left:110px; width:60px; height:60px; background: url(grafika/ramka.png) 0px 0px; background-size: 120px; background-color: none; border:0px;}
#buttonpieczgrafika {width:54px; height:54px; position:absolute; left:3px; top:3px; z-index:9; pointer-events:none; background: url(grafika/piecz.png) 0px 0px; background-size: 54px;}
#buttonpiecz:hover {background: url(grafika/ramka.png) -60px 0px; background-size:120px; }
#buttonpiecz:active #buttonpieczgrafika {position:absolute; left:1px; top:1px; width:58px; height:58px; background: url(grafika/piecz.png) 0px 0px; background-size: 58px;}

#buttontnij {z-index:10; position:absolute; bottom:10px; left:110px; width:60px; height:60px; background: url(grafika/ramka.png) 0px 0px; background-size: 120px; background-color: none; border:0px;}
#buttontnijgrafika {width:54px; height:54px; position:absolute; left:3px; top:3px; z-index:9; pointer-events:none; background: url(grafika/tnij.png) 0px 0px; background-size: 54px;}
#buttontnij:hover {background: url(grafika/ramka.png) -60px 0px; background-size:120px; }
#buttontnij:active #buttontnijgrafika {position:absolute; left:1px; top:1px; width:58px; height:58px; background: url(grafika/tnij.png) 0px 0px; background-size: 58px;}

#buttonwykuwaj{z-index:10; position:absolute; bottom:10px; left:110px; width:60px; height:60px; background: url(grafika/ramka.png) 0px 0px; background-size: 120px; background-color: none; border:0px;}
#buttonwykuwajgrafika {width:54px; height:54px; position:absolute; left:3px; top:3px; z-index:9; pointer-events:none; background: url(grafika/wykuwaj.png) 0px 0px; background-size: 54px;}
#buttonwykuwaj:hover {background: url(grafika/ramka.png) -60px 0px; background-size:120px; }
#buttonwykuwaj:active #buttonwykuwajgrafika {position:absolute; left:1px; top:1px; width:58px; height:58px; background: url(grafika/wykuwaj.png) 0px 0px; background-size: 58px;}



#wydprzedmiot {pointer-events:auto;border:0xp; background-none; margin:5px;  width:48px; height:48px; background: url(grafika/ramka.png) 0px 0px; background-size:96px; position:relative; overflow:visible; float:left;}
#wydprzedmiot:hover {background: url(grafika/ramka.png) -48px 0px; background-size:96px;}
#wydprzedmiot:active { background: url(grafika/ramka.png) -54px 0px; background-size:108px; margin:2px; padding:3px; }
#wydprzedmiottlo {pointer-events:none; width:48px; height:48px; background: url(grafika/tlo.png) 0px 0px; background-size: 48px; position:absolute; }
#wydprzedmiotgrafika {pointer-events:none;width:36px; height:36px; position:absolute; left:6px; top:6px; background-size:36px; }
#wydile {z-index:3;width:16px; height:16px; cursor:auto; background:darkgreen;border:2px solid black; border-radius:12px; position:absolute; bottom:0px; right:0px;color: white;text-align:center; font-size:10px; line-height:18px;}


#czaszka {background: url("grafika/czaszka.png") 0px 0px; background-size: 20px; width:20px; height:20px; margin:auto; display: inline-block;}


	/* PRODUKCJA OKNO js: */

.pokaoknoprod { z-index:100; display:none; overflow:hidden; width:520px; height:443px; position:fixed; top:120px; right:50%; margin-right:-260px;  text-align:center;}
.pokaoknohexprod { pointer-events:auto; width:520px; height:443px; background: url(grafika/czarne.png) 0px 0px; background-size:520px;  }
.pokaoknonaglowekprod { text-transform: uppercase; color:gold; position:relative; margin:8px auto; font-size:14px; width:100px; font-weight:bold;}
.pokaoknotrescprod {width:100%; height:100%; position:absolute; top:0px; left:0px;}
#usunramkaprod {width:20px;height:20px; position:absolute; top:6px; right:125px;z-index:101;}


.przedmiotprod {width:60px; height:60px; background-size:60px; margin:5px; position:relative;}




{animation-name:'.$ruch.'; animation-duration:1s; animation-iteration-count:1; animation-delay:0s; animation-direction:alternate, normal; animation-fill-mode:backwards, forwards; animation-timing-function:ease-in-out, linear;
-webkit-animation-name:ruch; -webkit-animation-duration:1s; -webkit-animation-iteration-count:1;  -webkit-animation-delay:0s; -webkit-animation-direction:alternate, normal;}

      @keyframes ruchp {0% { left:-'.$sz.'px;}  100% {left:0px;}}
      @-webkit-keyframes ruchp {0% { left:-'.$sz.'px;}  100% {left:0px;}}


	/* stare POSTAC, STATY*/

.postaclewa {width:266px; height:430px; position:absolute; left:6px; top:20px; }
.postacprawa {width:360px; height:430px; position:relative; float:right; right:2px; top:20px; z-index:1; overflow:hidden;  }

#statytlo {border:0px; width:30px; height:30px; background: url(grafika/statytlo.png) 0px 0px;  background-size:32px; position:relative; color:white; line-height:30px;margin:3px; text-align:center; font-weight:bold; }
#statynazwa {color:#a06800; }
#dodaj {color:transparent; border:0px; background:none; width:18px; height:18px; background: url(grafika/dodaj.png) 0px 0px;  background-size:18px;position:absolute; left:6px; top:6px;}
#dodaj:active {width:20px; height:20px; background: url(grafika/dodaj.png) 0px 0px;  background-size:20px;position:absolute; left:5px; top:5px;}


.widokpostac {border:1px solid red; width:360px; height:360px; top:80px;right:0px; position:relative; z-index:0; overflow:hidden;}

.przewijkacal {border:1px solid red; position:absolute; top:20px; right:30px; width:320px; height:60px;overflow:hidden;}
.przewijkaokno { border:1px solid gold; position:absolute; top:1px; right:25px; width:270px; height:56px;overflow:hidden;}
.przewijkazaw {position:absolute; top:0px; left:0px; width:270px; height:56px; overflow:visible;}

#przewijkalewo {width:20px; height:20px; position:absolute; left:2px; top:20px;}
#przewijkaprawo {width:20px; height:20px; position:absolute; right:2px; top:20px;}

